#loginPane, #registerPage{
		-fx-background-image:url(/resources/back.png);
		-fx-background-size: cover;
		-fx-background-color: #fff;
}

#loginLabel, #registerTitle{
	-fx-effect: dropshadow(gaussian, #ffffff, 10.0, 0.1, 0.0, 0.0);
	/*블루어 효과, 색상, 흩어지는 정도, x, y */
}

#registerForm{
	-fx-background-color: rgba(230,230,230,0.5);
	-fx-background-radius: 20px;
}

.btn{
	-fx-background-radius: 5px;
	-fx-border-radius: 5px;
	-fx-text-fill : #fff;
}

.btn-success{
	-fx-background-color: #007bff;
	-fx-border-color: #007bff;
}

.btn-danger{
	-fx-background-color: #dc3545;
	-fx-border-color: #dc3545;
}

.active{
	-fx-background-color: rgba(0,123,255,0.5);
}